In [1]:
!pip install matplotlib
!pip install seaborn
!pip install pandas
!pip install numpy
!pip install pyspark

Requirement already satisfied: matplotlib in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\g_man\appdata\roaming\python\python311\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\g_man\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (1.26.2)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyspark in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Loading Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# set file paths
imdb_path = r"../datasets/title.basics.tsv.gz"
ratings_path = r"../datasets/title.ratings.tsv.gz"
principals_path = r"../datasets/title.principals.tsv.gz"
name_path = r"../datasets/name.basics.tsv.gz"
tmdb_path = r"../datasets/TMDB_movie_dataset_v11.csv"

# Load IMDb datasets
title_basics = pd.read_csv(
    imdb_path, 
    sep="\t", 
    low_memory=False, 
    usecols=["tconst", "titleType", "primaryTitle", "isAdult", "startYear", "runtimeMinutes", "genres"],
    na_values="\\N"
)

title_ratings = pd.read_csv(
    ratings_path, 
    sep="\t", 
    low_memory=False, 
    na_values="\\N"
)

title_principals = pd.read_csv(
    principals_path, 
    sep="\t", 
    low_memory=False, 
    usecols=["tconst", "nconst", "category"],
    na_values="\\N"
)

name_basics = pd.read_csv(
    name_path, 
    sep="\t", 
    low_memory=False, 
    usecols=["nconst", "primaryName", "primaryProfession"],
    na_values="\\N"
)

#Load TMDb dataset
tmdb_movies = pd.read_csv(
    tmdb_path, 
    low_memory=False,
    usecols=["imdb_id", "title", "vote_average", "vote_count", "release_date", "revenue", "runtime", "budget", "overview", "popularity", "tagline", "genres", "production_companies", "keywords"]
)
tmdb_movies = tmdb_movies.rename(columns={"genres": "genres_tmdb"})

print(title_basics.head())
print(title_ratings.head())
print(title_principals.head())
print(name_basics.head())
print(tmdb_movies.head())

      tconst titleType            primaryTitle  isAdult  startYear  \
0  tt0000001     short              Carmencita      0.0     1894.0
1  tt0000002     short  Le clown et ses chiens      0.0     1892.0
2  tt0000003     short            Poor Pierrot      0.0     1892.0
3  tt0000004     short             Un bon bock      0.0     1892.0
4  tt0000005     short        Blacksmith Scene      0.0     1893.0

  runtimeMinutes                    genres
0              1         Documentary,Short
1              5           Animation,Short
2              5  Animation,Comedy,Romance
3             12           Animation,Short
4              1                     Short
      tconst  averageRating  numVotes
0  tt0000001            5.7      2125
1  tt0000002            5.6       286
2  tt0000003            6.4      2161
3  tt0000004            5.3       183
4  tt0000005            6.2      2890
      tconst     nconst         category
0  tt0000001  nm1588970             self
1  tt0000001  nm0005690         director
2  tt0000001  nm0005690         producer
3  tt0000001  nm0374658  cinematographer
4  tt0000002  nm0721526         director
      nconst      primaryName                   primaryProfession
0  nm0000001     Fred Astaire        actor,miscellaneous,producer
1  nm0000002    Lauren Bacall  actress,soundtrack,archive_footage
2  nm0000003  Brigitte Bardot   actress,music_department,producer
3  nm0000004     John Belushi       actor,writer,music_department
4  nm0000005   Ingmar Bergman               writer,director,actor
             title  vote_average  vote_count release_date     revenue  \
0        Inception         8.364       34495   2010-07-15   825532764
1     Interstellar         8.417       32571   2014-11-05   701729206
2  The Dark Knight         8.512       30619   2008-07-16  1004558444
3           Avatar         7.573       29815   2009-12-15  2923706026
4     The Avengers         7.710       29166   2012-04-25  1518815515

   runtime     budget    imdb_id  \
0      148  160000000  tt1375666
1      169  165000000  tt0816692
2      152  185000000  tt0468569
3      162  237000000  tt0499549
4      143  220000000  tt0848228

                                            overview  popularity  \
0  Cobb, a skilled thief who commits corporate es...      83.952
1  The adventures of a group of explorers who mak...     140.241
2  Batman raises the stakes in his war on crime. ...     130.643
3  In the 22nd century, a paraplegic Marine is di...      79.932
4  When an unexpected enemy emerges and threatens...      98.082

                                             tagline  \
0               Your mind is the scene of the crime.
1  Mankind was born on Earth. It was never meant ...
2                  Welcome to a world without rules.
3                        Enter the world of Pandora.
4                            Some assembly required.

                                   genres_tmdb  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

In [3]:
title_basics = title_basics[title_basics['titleType'] == 'movie']
tmdb_movies.rename(columns={"imdb_id": "tconst"}, inplace=True)
merged_movies = title_basics.merge(tmdb_movies, on="tconst", how="inner")

merged_movies = merged_movies.drop_duplicates()

row_count_merged = len(merged_movies)
print(row_count_merged)

row_count_title_basics = len(title_basics)
print(row_count_title_basics)

335317
704881

Join IMDb parts to create Master IMDb set

In [4]:
print(merged_movies.columns.tolist())

['tconst', 'titleType', 'primaryTitle', 'isAdult', 'startYear', 'runtimeMinutes', 'genres', 'title', 'vote_average', 'vote_count', 'release_date', 'revenue', 'runtime', 'budget', 'overview', 'popularity', 'tagline', 'genres_tmdb', 'production_companies', 'keywords']

In [5]:
imdb_df = title_basics.merge(title_ratings, on="tconst", how="left")
imdb_df = imdb_df.merge(title_principals, on="tconst", how="left")
imdb_df = imdb_df.merge(name_basics, on="nconst", how="left")

print(imdb_df.head())

      tconst titleType primaryTitle  isAdult  startYear runtimeMinutes  \
0  tt0000009     movie   Miss Jerry      0.0     1894.0             45
1  tt0000009     movie   Miss Jerry      0.0     1894.0             45
2  tt0000009     movie   Miss Jerry      0.0     1894.0             45
3  tt0000009     movie   Miss Jerry      0.0     1894.0             45
4  tt0000009     movie   Miss Jerry      0.0     1894.0             45

    genres  averageRating  numVotes     nconst  category        primaryName  \
0  Romance            5.4     218.0  nm0063086   actress    Blanche Bayliss
1  Romance            5.4     218.0  nm0183823     actor  William Courtenay
2  Romance            5.4     218.0  nm1309758     actor     Chauncey Depew
3  Romance            5.4     218.0  nm0085156  director    Alexander Black
4  Romance            5.4     218.0  nm0085156    writer    Alexander Black

                 primaryProfession
0                          actress
1                            actor
2                     actor,writer
3  director,writer,cinematographer
4  director,writer,cinematographer

Merge IMDb and TMDb and filter only for "movie" to create the overall master movie dataset

In [6]:
tmdb_movies.rename(columns={"imdb_id": "tconst"}, inplace=True)

# inner join IMDb and TMDb datasets
merged_df = imdb_df.merge(tmdb_movies, on="tconst", how="inner")

# filter only where titleType = movie
merged_df = merged_df[merged_df['titleType'] == 'movie']

print(merged_df.head())

      tconst titleType primaryTitle  isAdult  startYear runtimeMinutes  \
0  tt0000009     movie   Miss Jerry      0.0     1894.0             45
1  tt0000009     movie   Miss Jerry      0.0     1894.0             45
2  tt0000009     movie   Miss Jerry      0.0     1894.0             45
3  tt0000009     movie   Miss Jerry      0.0     1894.0             45
4  tt0000009     movie   Miss Jerry      0.0     1894.0             45

    genres  averageRating  numVotes     nconst  ... release_date revenue  \
0  Romance            5.4     218.0  nm0063086  ...   1894-10-08       0
1  Romance            5.4     218.0  nm0183823  ...   1894-10-08       0
2  Romance            5.4     218.0  nm1309758  ...   1894-10-08       0
3  Romance            5.4     218.0  nm0085156  ...   1894-10-08       0
4  Romance            5.4     218.0  nm0085156  ...   1894-10-08       0

  runtime budget                                           overview  \
0      45      0  The adventures of a female reporter in the 1890s.
1      45      0  The adventures of a female reporter in the 1890s.
2      45      0  The adventures of a female reporter in the 1890s.
3      45      0  The adventures of a female reporter in the 1890s.
4      45      0  The adventures of a female reporter in the 1890s.

   popularity tagline  genres_tmdb        production_companies  \
0       0.748     NaN      Romance  Alexander Black Photoplays
1       0.748     NaN      Romance  Alexander Black Photoplays
2       0.748     NaN      Romance  Alexander Black Photoplays
3       0.748     NaN      Romance  Alexander Black Photoplays
4       0.748     NaN      Romance  Alexander Black Photoplays

                      keywords
0  reporter, editor, lost film
1  reporter, editor, lost film
2  reporter, editor, lost film
3  reporter, editor, lost film
4  reporter, editor, lost film

[5 rows x 26 columns]

In [7]:
print(merged_df.columns.tolist())

['tconst', 'titleType', 'primaryTitle', 'isAdult', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'nconst', 'category', 'primaryName', 'primaryProfession', 'title', 'vote_average', 'vote_count', 'release_date', 'revenue', 'runtime', 'budget', 'overview', 'popularity', 'tagline', 'genres_tmdb', 'production_companies', 'keywords']

Specific Table Separation

In [8]:
# Create Movies Only Table
movies_df = merged_df[['tconst', 'titleType', 'primaryTitle', 'isAdult', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'title', 'vote_average', 'vote_count', 'release_date', 'revenue', 'runtime', 'budget', 'overview', 'popularity', 'tagline', 'genres_tmdb', 'production_companies', 'keywords']]
movies_df = movies_df.drop_duplicates()
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'])
movies_df['release_month'] = movies_df['release_date'].dt.month

## create consolidated runtime column:
movies_df['runtimeMinutes'] = pd.to_numeric(movies_df['runtimeMinutes'], errors='coerce')
movies_df['runtime'] = pd.to_numeric(movies_df['runtime'], errors='coerce')

conditions = [
    (movies_df['runtimeMinutes'] == movies_df['runtime']),
    (movies_df['runtimeMinutes'] > movies_df['runtime']),
    (movies_df['runtime'] > movies_df['runtimeMinutes']),
    (movies_df['runtimeMinutes'].isna() & movies_df['runtime'].notna()),
    (movies_df['runtime'].isna() & movies_df['runtimeMinutes'].notna()),
]

choices = [
    movies_df['runtime'], # equal runtimes
    movies_df['runtimeMinutes'], # imdb runtime longer
    movies_df['runtime'], # tmdb runtime longer
    movies_df['runtime'], # imdb NA, use tmdb
    movies_df['runtimeMinutes'] # tmdb NA, use imdb
]

movies_df['runtime_consolidated'] = np.select(conditions, choices, default=np.nan)

## Create Actors Table, Actresses Table, and Directors Table
cast_and_crew_df = merged_df[['tconst', 'nconst', 'primaryName', 'category']]
cast_and_crew_df = cast_and_crew_df.drop_duplicates(subset=['tconst', 'nconst'])

# Actors table 
actor_df = cast_and_crew_df[cast_and_crew_df['category'] == 'actor']
# Actress table
actress_df = cast_and_crew_df[cast_and_crew_df['category'] == 'actress']
# Directors table
director_df = cast_and_crew_df[cast_and_crew_df['category'] == 'director']

row_number = len(movies_df)
print(row_number)

print(movies_df.head())
print(actor_df.head())
print(actress_df.head())
print(director_df.head())

335317
       tconst titleType                   primaryTitle  isAdult  startYear  \
0   tt0000009     movie                     Miss Jerry      0.0     1894.0
7   tt0000147     movie  The Corbett-Fitzsimmons Fight      0.0     1897.0
15  tt0000574     movie    The Story of the Kelly Gang      0.0     1906.0
35  tt0000591     movie               The Prodigal Son      0.0     1907.0
41  tt0000615     movie             Robbery Under Arms      0.0     1907.0

    runtimeMinutes                      genres  averageRating  numVotes  \
0             45.0                     Romance            5.4     218.0
7            100.0      Documentary,News,Sport            5.3     548.0
15            70.0  Action,Adventure,Biography            6.0     969.0
35            90.0                       Drama            5.6      30.0
41             NaN                       Drama            4.3      27.0

                            title  ...  runtime  budget  \
0                      Miss Jerry  ...       45       0
7   The Corbett-Fitzsimmons Fight  ...       19       0
15    The Story of the Kelly Gang  ...       70       0
35               The Prodigal Son  ...       90       0
41             Robbery Under Arms  ...       60       0

                                             overview  popularity  \
0   The adventures of a female reporter in the 1890s.       0.748
7   This legendary fight was filmed on March 17, 1...       1.250
15  Just as Galeen and Wegener's Der Golem (1915) ...       2.160
35  The first feature-length motion picture produc...       0.600
41  Australian bushranger movie.  The first filmed...       0.600

                                              tagline  \
0                                                 NaN
7                                                 NaN
15  The Most Sensational, The Most Thrilling and I...
35                                                NaN
41  First filmed version of Rolf Boldrewood's 'Rob...

                      genres_tmdb              production_companies  \
0                         Romance        Alexander Black Photoplays
7                     Documentary                 Veriscope Company
15  Crime, Drama, Action, History  Johnson and Gibson, J. & N. Tait
35                          Drama                      Pathé Frères
41                          Drama     MacMahon's Exquisite Pictures

                            keywords release_month runtime_consolidated
0        reporter, editor, lost film          10.0                 45.0
7                        silent film           1.0                100.0
15  silent film, partially lost film          12.0                 70.0
35            pantomime, silent film           6.0                 90.0
41                               NaN          10.0                 60.0

[5 rows x 24 columns]
       tconst     nconst        primaryName category
1   tt0000009  nm0183823  William Courtenay    actor
2   tt0000009  nm1309758     Chauncey Depew    actor
16  tt0000574  nm0846894          John Tait    actor
17  tt0000574  nm1431224  Nicholas Brierley    actor
18  tt0000574  nm3002376    Norman Campbell    actor
       tconst     nconst          primaryName category
0   tt0000009  nm0063086      Blanche Bayliss  actress
15  tt0000574  nm0846887       Elizabeth Tait  actress
20  tt0000574  nm0170118           Bella Cola  actress
37  tt0000591  nm1323543  Christiane Mandelys  actress
38  tt0000591  nm1759558       Gilberte Sergy  actress
       tconst     nconst       primaryName  category
3   tt0000009  nm0085156   Alexander Black  director
12  tt0000147  nm0714557   Enoch J. Rector  director
25  tt0000574  nm0846879      Charles Tait  director
39  tt0000591  nm0141150      Michel Carré  director
47  tt0000615  nm0533958  Charles MacMahon  director

Table Explosions (for detailed analysis)

In [9]:
# split and explode genres (imdb)
genres_df = merged_df[['tconst', 'genres']].dropna(subset=['genres'])
genres_df['genres'] = genres_df['genres'].str.split(',')
genres_df = genres_df.explode('genres')

# split and explode production companies
prod_comp_df = merged_df[['tconst', 'production_companies']].dropna(subset=['production_companies'])
prod_comp_df['production_companies'] = prod_comp_df['production_companies'].str.split(',')
prod_comp_df = prod_comp_df.explode('production_companies')

# split and explode keywords
keyword_df = merged_df[['tconst', 'keywords']].dropna(subset=['keywords'])
keyword_df['keywords'] = keyword_df['keywords'].str.split(',')
keyword_df = keyword_df.explode('keywords')

genres_df = genres_df.drop_duplicates()
prod_comp_df = prod_comp_df.drop_duplicates()
keyword_df = keyword_df.drop_duplicates()

print(genres_df.head())
print(prod_comp_df.head())
print(keyword_df.head())

       tconst       genres
0   tt0000009      Romance
7   tt0000147  Documentary
7   tt0000147         News
7   tt0000147        Sport
15  tt0000574       Action
       tconst        production_companies
0   tt0000009  Alexander Black Photoplays
7   tt0000147           Veriscope Company
15  tt0000574          Johnson and Gibson
15  tt0000574                J. & N. Tait
35  tt0000591                Pathé Frères
       tconst     keywords
0   tt0000009     reporter
0   tt0000009       editor
0   tt0000009    lost film
7   tt0000147  silent film
15  tt0000574  silent film

Cleanup time

In [10]:
# handle missing values -- removal of rows without startyear, runtimeMinutes, averageRating, numVotes, 
movies_df = movies_df.dropna(subset=['startYear', 'averageRating', 'numVotes', 'release_date'])
movies_df['overview'] = movies_df['overview'].fillna('NaN')
movies_df['tagline'] = movies_df['tagline'].fillna('NaN')
movies_df['genres'] = movies_df['genres'].fillna('NaN')
movies_df['genres_tmdb'] = movies_df['genres_tmdb'].fillna('NaN')
movies_df['production_companies'] = movies_df['production_companies'].fillna('NaN')
movies_df['keywords'] = movies_df['keywords'].fillna('NaN')

# remove duplicates
movies_df = movies_df.drop_duplicates()

# rearrange columns 
movies_df = movies_df[['tconst', 'titleType', 'primaryTitle', 'isAdult', 'startYear', 'release_month', 'release_date', 'runtime_consolidated', 'averageRating', 'numVotes', 'vote_average', 'vote_count', 'revenue', 'budget', 'popularity', 'overview', 'tagline', 'genres', 'production_companies', 'keywords']]
movies_df = movies_df.rename(columns={
    'startYear': 'releaseYear', 
    'release_date': 'releaseDate', 
    'release_month': 'releaseMonth', 
    'averageRating': 'imdb_averageRating', 
    'numVotes': 'imdb_numVotes', 
    'vote_average': 'tmdb_averageRating', 
    'vote_count': 'tmdb_numVotes'
})

# convert data types
movies_df['releaseYear'] = movies_df['releaseYear'].astype('Int64')
movies_df['releaseMonth'] = movies_df['releaseMonth'].astype('Int64')


# check missing values 
row_count = len(movies_df)

print(row_count)
print(movies_df.isnull().sum())
print(movies_df.head())

260135
tconst                  0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
overview                0
tagline                 0
genres                  0
production_companies    0
keywords                0
dtype: int64
       tconst titleType                   primaryTitle  isAdult  releaseYear  \
0   tt0000009     movie                     Miss Jerry      0.0         1894
7   tt0000147     movie  The Corbett-Fitzsimmons Fight      0.0         1897
15  tt0000574     movie    The Story of the Kelly Gang      0.0         1906
35  tt0000591     movie               The Prodigal Son      0.0         1907
41  tt0000615     movie             Robbery Under Arms      0.0         1907

    releaseMonth releaseDate  runtime_consolidated  imdb_averageRating  \
0             10  1894-10-08                  45.0                 5.4
7              1  1897-01-01                 100.0                 5.3
15            12  1906-12-26                  70.0                 6.0
35             6  1907-06-19                  90.0                 5.6
41            10  1907-10-01                  60.0                 4.3

    imdb_numVotes  tmdb_averageRating  tmdb_numVotes  revenue  budget  \
0           218.0               5.000              3        0       0
7           548.0               5.500             20        0       0
15          969.0               5.397             29        0       0
35           30.0               0.000              0        0       0
41           27.0               1.000              1        0       0

    popularity                                           overview  \
0        0.748  The adventures of a female reporter in the 1890s.
7        1.250  This legendary fight was filmed on March 17, 1...
15       2.160  Just as Galeen and Wegener's Der Golem (1915) ...
35       0.600  The first feature-length motion picture produc...
41       0.600  Australian bushranger movie.  The first filmed...

                                              tagline  \
0                                                 NaN
7                                                 NaN
15  The Most Sensational, The Most Thrilling and I...
35                                                NaN
41  First filmed version of Rolf Boldrewood's 'Rob...

                        genres              production_companies  \
0                      Romance        Alexander Black Photoplays
7       Documentary,News,Sport                 Veriscope Company
15  Action,Adventure,Biography  Johnson and Gibson, J. & N. Tait
35                       Drama                      Pathé Frères
41                       Drama     MacMahon's Exquisite Pictures

                            keywords
0        reporter, editor, lost film
7                        silent film
15  silent film, partially lost film
35            pantomime, silent film
41                               NaN

In [11]:
actor_df = actor_df.dropna(subset='primaryName')
actor_df = actor_df.merge(movies_df, on='tconst', how='inner')
actor_df = actor_df[['tconst', 'nconst', 'primaryName', 'category', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']]


actor_df_rn = len(actor_df)

print(actor_df_rn) 
print(actor_df.isnull().sum())
print(actor_df.head())

1349057
tconst                  0
nconst                  0
primaryName             0
category                0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
dtype: int64
      tconst     nconst        primaryName category titleType  \
0  tt0000009  nm0183823  William Courtenay    actor     movie
1  tt0000009  nm1309758     Chauncey Depew    actor     movie
2  tt0000574  nm0846894          John Tait    actor     movie
3  tt0000574  nm1431224  Nicholas Brierley    actor     movie
4  tt0000574  nm3002376    Norman Campbell    actor     movie

                  primaryTitle  isAdult  releaseYear  releaseMonth  \
0                   Miss Jerry      0.0         1894            10
1                   Miss Jerry      0.0         1894            10
2  The Story of the Kelly Gang      0.0         1906            12
3  The Story of the Kelly Gang      0.0         1906            12
4  The Story of the Kelly Gang      0.0         1906            12

  releaseDate  runtime_consolidated  imdb_averageRating  imdb_numVotes  \
0  1894-10-08                  45.0                 5.4          218.0
1  1894-10-08                  45.0                 5.4          218.0
2  1906-12-26                  70.0                 6.0          969.0
3  1906-12-26                  70.0                 6.0          969.0
4  1906-12-26                  70.0                 6.0          969.0

   tmdb_averageRating  tmdb_numVotes  revenue  budget  popularity
0               5.000              3        0       0       0.748
1               5.000              3        0       0       0.748
2               5.397             29        0       0       2.160
3               5.397             29        0       0       2.160
4               5.397             29        0       0       2.160

In [12]:

actress_df = actress_df.merge(movies_df, on='tconst', how='inner')
actress_df = actress_df[['tconst', 'nconst', 'primaryName', 'category', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']]

actress_df_rn = len(actress_df)

print(actress_df_rn)
print(actress_df.isnull().sum())
print(actress_df.head())

743679
tconst                  0
nconst                  0
primaryName             0
category                0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
dtype: int64
      tconst     nconst          primaryName category titleType  \
0  tt0000009  nm0063086      Blanche Bayliss  actress     movie
1  tt0000574  nm0846887       Elizabeth Tait  actress     movie
2  tt0000574  nm0170118           Bella Cola  actress     movie
3  tt0000591  nm1323543  Christiane Mandelys  actress     movie
4  tt0000591  nm1759558       Gilberte Sergy  actress     movie

                  primaryTitle  isAdult  releaseYear  releaseMonth  \
0                   Miss Jerry      0.0         1894            10
1  The Story of the Kelly Gang      0.0         1906            12
2  The Story of the Kelly Gang      0.0         1906            12
3             The Prodigal Son      0.0         1907             6
4             The Prodigal Son      0.0         1907             6

  releaseDate  runtime_consolidated  imdb_averageRating  imdb_numVotes  \
0  1894-10-08                  45.0                 5.4          218.0
1  1906-12-26                  70.0                 6.0          969.0
2  1906-12-26                  70.0                 6.0          969.0
3  1907-06-19                  90.0                 5.6           30.0
4  1907-06-19                  90.0                 5.6           30.0

   tmdb_averageRating  tmdb_numVotes  revenue  budget  popularity
0               5.000              3        0       0       0.748
1               5.397             29        0       0       2.160
2               5.397             29        0       0       2.160
3               0.000              0        0       0       0.600
4               0.000              0        0       0       0.600

In [13]:
director_df = director_df.merge(movies_df, on='tconst', how='inner')
director_df = director_df[['tconst', 'nconst', 'primaryName', 'category', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']]

director_df_rn = len(director_df)

print(director_df_rn)
print(director_df.isnull().sum())
print(director_df.head())

258186
tconst                  0
nconst                  0
primaryName             0
category                0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
dtype: int64
      tconst     nconst       primaryName  category titleType  \
0  tt0000009  nm0085156   Alexander Black  director     movie
1  tt0000147  nm0714557   Enoch J. Rector  director     movie
2  tt0000574  nm0846879      Charles Tait  director     movie
3  tt0000591  nm0141150      Michel Carré  director     movie
4  tt0000615  nm0533958  Charles MacMahon  director     movie

                    primaryTitle  isAdult  releaseYear  releaseMonth  \
0                     Miss Jerry      0.0         1894            10
1  The Corbett-Fitzsimmons Fight      0.0         1897             1
2    The Story of the Kelly Gang      0.0         1906            12
3               The Prodigal Son      0.0         1907             6
4             Robbery Under Arms      0.0         1907            10

  releaseDate  runtime_consolidated  imdb_averageRating  imdb_numVotes  \
0  1894-10-08                  45.0                 5.4          218.0
1  1897-01-01                 100.0                 5.3          548.0
2  1906-12-26                  70.0                 6.0          969.0
3  1907-06-19                  90.0                 5.6           30.0
4  1907-10-01                  60.0                 4.3           27.0

   tmdb_averageRating  tmdb_numVotes  revenue  budget  popularity
0               5.000              3        0       0       0.748
1               5.500             20        0       0       1.250
2               5.397             29        0       0       2.160
3               0.000              0        0       0       0.600
4               1.000              1        0       0       0.600

In [14]:
# combine cast & crew dfs

actor_actress_director_df = pd.concat([actor_df, actress_df, director_df], ignore_index=True)

actor_actress_director_df_rn = len(actor_actress_director_df)

print(actor_actress_director_df_rn)
print(actor_actress_director_df.isnull().sum())
print(actor_actress_director_df.head())

2350922
tconst                  0
nconst                  0
primaryName             0
category                0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
dtype: int64
      tconst     nconst        primaryName category titleType  \
0  tt0000009  nm0183823  William Courtenay    actor     movie
1  tt0000009  nm1309758     Chauncey Depew    actor     movie
2  tt0000574  nm0846894          John Tait    actor     movie
3  tt0000574  nm1431224  Nicholas Brierley    actor     movie
4  tt0000574  nm3002376    Norman Campbell    actor     movie

                  primaryTitle  isAdult  releaseYear  releaseMonth  \
0                   Miss Jerry      0.0         1894            10
1                   Miss Jerry      0.0         1894            10
2  The Story of the Kelly Gang      0.0         1906            12
3  The Story of the Kelly Gang      0.0         1906            12
4  The Story of the Kelly Gang      0.0         1906            12

  releaseDate  runtime_consolidated  imdb_averageRating  imdb_numVotes  \
0  1894-10-08                  45.0                 5.4          218.0
1  1894-10-08                  45.0                 5.4          218.0
2  1906-12-26                  70.0                 6.0          969.0
3  1906-12-26                  70.0                 6.0          969.0
4  1906-12-26                  70.0                 6.0          969.0

   tmdb_averageRating  tmdb_numVotes  revenue  budget  popularity
0               5.000              3        0       0       0.748
1               5.000              3        0       0       0.748
2               5.397             29        0       0       2.160
3               5.397             29        0       0       2.160
4               5.397             29        0       0       2.160

In [15]:
print(genres_df.columns.tolist())
print(movies_df.columns.tolist())

['tconst', 'genres']
['tconst', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity', 'overview', 'tagline', 'genres', 'production_companies', 'keywords']

In [16]:
movie_stats = movies_df[['tconst', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating' ,'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']]
genres_df = genres_df.merge(movie_stats, on='tconst', how='inner')
genres_df = genres_df[['tconst', 'genres', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']]

genres_df_rn = len(genres_df)

print(genres_df_rn)
print(genres_df.isnull().sum())
print(genres_df.head())

457841
tconst                  0
genres                  0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
dtype: int64
      tconst       genres titleType                   primaryTitle  isAdult  \
0  tt0000009      Romance     movie                     Miss Jerry      0.0
1  tt0000147  Documentary     movie  The Corbett-Fitzsimmons Fight      0.0
2  tt0000147         News     movie  The Corbett-Fitzsimmons Fight      0.0
3  tt0000147        Sport     movie  The Corbett-Fitzsimmons Fight      0.0
4  tt0000574       Action     movie    The Story of the Kelly Gang      0.0

   releaseYear  releaseMonth releaseDate  runtime_consolidated  \
0         1894            10  1894-10-08                  45.0
1         1897             1  1897-01-01                 100.0
2         1897             1  1897-01-01                 100.0
3         1897             1  1897-01-01                 100.0
4         1906            12  1906-12-26                  70.0

   imdb_averageRating  imdb_numVotes  tmdb_averageRating  tmdb_numVotes  \
0                 5.4          218.0               5.000              3
1                 5.3          548.0               5.500             20
2                 5.3          548.0               5.500             20
3                 5.3          548.0               5.500             20
4                 6.0          969.0               5.397             29

   revenue  budget  popularity
0        0       0       0.748
1        0       0       1.250
2        0       0       1.250
3        0       0       1.250
4        0       0       2.160

In [17]:
prod_comp_df = prod_comp_df.merge(movie_stats, on='tconst', how='inner')
prod_comp_df = prod_comp_df[['tconst', 'production_companies', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']]

prod_comp_df_rn = len(prod_comp_df)

print(prod_comp_df_rn)
print(prod_comp_df.isnull().sum())
print(prod_comp_df.head())

312726
tconst                  0
production_companies    0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
dtype: int64
      tconst        production_companies titleType  \
0  tt0000009  Alexander Black Photoplays     movie
1  tt0000147           Veriscope Company     movie
2  tt0000574          Johnson and Gibson     movie
3  tt0000574                J. & N. Tait     movie
4  tt0000591                Pathé Frères     movie

                    primaryTitle  isAdult  releaseYear  releaseMonth  \
0                     Miss Jerry      0.0         1894            10
1  The Corbett-Fitzsimmons Fight      0.0         1897             1
2    The Story of the Kelly Gang      0.0         1906            12
3    The Story of the Kelly Gang      0.0         1906            12
4               The Prodigal Son      0.0         1907             6

  releaseDate  runtime_consolidated  imdb_averageRating  imdb_numVotes  \
0  1894-10-08                  45.0                 5.4          218.0
1  1897-01-01                 100.0                 5.3          548.0
2  1906-12-26                  70.0                 6.0          969.0
3  1906-12-26                  70.0                 6.0          969.0
4  1907-06-19                  90.0                 5.6           30.0

   tmdb_averageRating  tmdb_numVotes  revenue  budget  popularity
0               5.000              3        0       0       0.748
1               5.500             20        0       0       1.250
2               5.397             29        0       0       2.160
3               5.397             29        0       0       2.160
4               0.000              0        0       0       0.600

In [18]:
print(keyword_df.columns.tolist())

['tconst', 'keywords']

In [19]:
keyword_df = keyword_df.merge(movie_stats, on='tconst', how='inner')
keyword_df = keyword_df[['tconst', 'keywords', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']]

keyword_df_rn = len(keyword_df)

print(keyword_df_rn) 
print(keyword_df.isnull().sum())
print(keyword_df.head())

455615
tconst                  0
keywords                0
titleType               0
primaryTitle            0
isAdult                 0
releaseYear             0
releaseMonth            0
releaseDate             0
runtime_consolidated    0
imdb_averageRating      0
imdb_numVotes           0
tmdb_averageRating      0
tmdb_numVotes           0
revenue                 0
budget                  0
popularity              0
dtype: int64
      tconst     keywords titleType                   primaryTitle  isAdult  \
0  tt0000009     reporter     movie                     Miss Jerry      0.0
1  tt0000009       editor     movie                     Miss Jerry      0.0
2  tt0000009    lost film     movie                     Miss Jerry      0.0
3  tt0000147  silent film     movie  The Corbett-Fitzsimmons Fight      0.0
4  tt0000574  silent film     movie    The Story of the Kelly Gang      0.0

   releaseYear  releaseMonth releaseDate  runtime_consolidated  \
0         1894            10  1894-10-08                  45.0
1         1894            10  1894-10-08                  45.0
2         1894            10  1894-10-08                  45.0
3         1897             1  1897-01-01                 100.0
4         1906            12  1906-12-26                  70.0

   imdb_averageRating  imdb_numVotes  tmdb_averageRating  tmdb_numVotes  \
0                 5.4          218.0               5.000              3
1                 5.4          218.0               5.000              3
2                 5.4          218.0               5.000              3
3                 5.3          548.0               5.500             20
4                 6.0          969.0               5.397             29

   revenue  budget  popularity
0        0       0       0.748
1        0       0       0.748
2        0       0       0.748
3        0       0       1.250
4        0       0       2.160

### Final Dataframes
* movies_df
* actor_actress_director_df
* genres_df
* prod_comp_df
* keyword_df

In [20]:

movies_df['isAdult'] = movies_df['isAdult'].astype('int64')

movies_df['weighted_averageRating'] = (
    (movies_df['imdb_averageRating'] * movies_df['imdb_numVotes']) + 
    (movies_df['tmdb_averageRating'] * movies_df['tmdb_numVotes'])
) / (movies_df['imdb_numVotes'] + movies_df['tmdb_numVotes'])

movies_df['total_numVotes'] = movies_df['imdb_numVotes'] + movies_df['tmdb_numVotes'] 


# apply IMDb's weighted average formula to the AAA Index Only
m = 10000
C = movies_df['weighted_averageRating'].mean() 
movies_df['bayesian_averageRating'] = (
    (movies_df['total_numVotes'] / (movies_df['total_numVotes'] + m)) * (
        (movies_df['imdb_averageRating'] * movies_df['imdb_numVotes'] +
         movies_df['tmdb_averageRating'] * movies_df['tmdb_numVotes']) /
         (movies_df['total_numVotes'] + 1e-9)
    )
    + (m / (movies_df['total_numVotes'] + m)) * C
)

# profitability adjustments (reward profit-making, penalize losses, non-impact for 0 or missing data)
movies_df['profit_ratio'] = movies_df['revenue'] / movies_df['budget']
movies_df['profit_ratio'] = movies_df['profit_ratio'].replace([np.inf, -np.inf], 0).fillna(0)
movies_df['normalized_profit_impact'] = np.where(
    movies_df['profit_ratio'] > 1, 1,
    np.where(movies_df['profit_ratio'] == 0, 0.5, 0)
)

# normalizations
movies_df['log_votes'] = np.log1p(movies_df['total_numVotes'])
movies_df['log_popularity'] = np.log1p(movies_df['popularity'])

movies_df['normalized_bayesian_averageRating'] = movies_df['bayesian_averageRating'] / 10 
movies_df['normalized_log_votes'] = movies_df['log_votes'] / movies_df['log_votes'].max()
movies_df['normalized_popularity'] = movies_df['popularity'] / movies_df['popularity'].max()


# AAA Index calculations
movies_df['normalized_score'] = (
    0.50 * movies_df['normalized_bayesian_averageRating'] + 
    0.35 * movies_df['normalized_log_votes'] + 
    0.1 * movies_df['normalized_popularity'] + 
    0.05 * movies_df['normalized_profit_impact']
)

movies_df['aaa_index'] = 10 * (movies_df['normalized_score'] - movies_df['normalized_score'].min()) / (movies_df['normalized_score'].max() - movies_df['normalized_score'].min())
movies_df['aaa_index'] = np.log1p(movies_df['aaa_index'])
movies_df['aaa_index'] = 10 * (
    (movies_df['aaa_index'] - movies_df['aaa_index'].min()) / 
    (movies_df['aaa_index'].max() - movies_df['aaa_index'].min())
)

print(movies_df.describe())
print(movies_df.dtypes)
print(movies_df.isnull().sum())

movies_df.to_csv('../data/movies_data.csv', index=False)

             isAdult  releaseYear  releaseMonth  \
count  260135.000000     260135.0      260135.0
mean        0.013478  1993.801257      6.307202
min         0.000000       1894.0           1.0
25%         0.000000       1976.0           3.0
50%         0.000000       2004.0           6.0
75%         0.000000       2016.0          10.0
max         1.000000       2025.0          12.0
std         0.115308    26.702713       3.68064

                         releaseDate  runtime_consolidated  \
count                         260135         260135.000000
mean   1994-05-01 15:51:30.725969152             93.435701
min              1894-10-08 00:00:00              0.000000
25%              1976-08-27 12:00:00             81.000000
50%              2004-07-16 00:00:00             92.000000
75%              2016-02-11 00:00:00            104.000000
max              2027-04-21 00:00:00          59460.000000
std                              NaN            162.489041

       imdb_averageRating  imdb_numVotes  tmdb_averageRating  tmdb_numVotes  \
count       260135.000000   2.601350e+05       260135.000000  260135.000000
mean             6.055084   4.482048e+03            3.974502      77.851358
min              1.000000   5.000000e+00            0.000000       0.000000
25%              5.300000   2.800000e+01            0.000000       0.000000
50%              6.200000   9.600000e+01            5.000000       2.000000
75%              6.900000   4.630000e+02            6.300000       9.000000
max             10.000000   2.998500e+06           10.000000   34495.000000
std              1.291434   4.083610e+04            2.981865     661.252048

            revenue  ...  bayesian_averageRating  profit_ratio  \
count  2.601350e+05  ...           260135.000000  2.601350e+05
mean   2.728486e+06  ...                6.067647  2.800600e+01
min    0.000000e+00  ...                1.599429  0.000000e+00
25%    0.000000e+00  ...                6.041258  0.000000e+00
50%    0.000000e+00  ...                6.048093  0.000000e+00
75%    0.000000e+00  ...                6.055069  0.000000e+00
max    2.923706e+09  ...                9.284417  2.755584e+06
std    3.343533e+07  ...                0.215895  7.122043e+03

       normalized_profit_impact      log_votes  log_popularity  \
count             260135.000000  260135.000000   260135.000000
mean                   0.505839       5.003169        0.974146
min                    0.000000       1.791759        0.000000
25%                    0.500000       3.401197        0.470004
50%                    0.500000       4.605170        0.754242
75%                    0.500000       6.165418        1.166582
max                    1.000000      14.921810        8.004819
std                    0.097110       2.082933        0.664174

       normalized_bayesian_averageRating  normalized_log_votes  \
count                      260135.000000         260135.000000
mean                            0.606765              0.335292
min                             0.159943              0.120077
25%                             0.604126              0.227935
50%                             0.604809              0.308620
75%                             0.605507              0.413182
max                             0.928442              1.000000
std                             0.021590              0.139590

       normalized_popularity  normalized_score      aaa_index
count          260135.000000     260135.000000  260135.000000
mean                0.000968          0.446123       4.187122
min                 0.000000          0.348039       0.000000
25%                 0.000200          0.407252       3.169147
50%                 0.000376          0.435393       4.109615
75%                 0.000738          0.470794       5.053477
max                 1.000000          0.868316      10.000000
std                 0.004806          0.054573       1.351486

[8 rows x 24 columns]
tconst                                       object
titleType                                    object
primaryTitle                                 object
isAdult                                       int64
releaseYear                                   Int64
releaseMonth                                  Int64
releaseDate                          datetime64[ns]
runtime_consolidated                        float64
imdb_averageRating                          float64
imdb_numVotes                               float64
tmdb_averageRating                          float64
tmdb_numVotes                                 int64
revenue                                       int64
budget                                        int64
popularity                                  float64
overview                                     object
tagline                                      object
genres                                       object
production_companies                         object
keywords                                     object
weighted_averageRating                      float64
total_numVotes                              float64
bayesian_averageRating                      float64
profit_ratio                                float64
normalized_profit_impact                    float64
log_votes                                   float64
log_popularity                              float64
normalized_bayesian_averageRating           float64
normalized_log_votes                        float64
normalized_popularity                       float64
normalized_score                            float64
aaa_index                                   float64
dtype: object
tconst                               0
titleType                            0
primaryTitle                         0
isAdult                              0
releaseYear                          0
releaseMonth                         0
releaseDate                          0
runtime_consolidated                 0
imdb_averageRating                   0
imdb_numVotes                        0
tmdb_averageRating                   0
tmdb_numVotes                        0
revenue                              0
budget                               0
popularity                           0
overview                             0
tagline                              0
genres                               0
production_companies                 0
keywords                             0
weighted_averageRating               0
total_numVotes                       0
bayesian_averageRating               0
profit_ratio                         0
normalized_profit_impact             0
log_votes                            0
log_popularity                       0
normalized_bayesian_averageRating    0
normalized_log_votes                 0
normalized_popularity                0
normalized_score                     0
aaa_index                            0
dtype: int64

In [21]:
print(actor_actress_director_df.columns.to_list())

['tconst', 'nconst', 'primaryName', 'category', 'titleType', 'primaryTitle', 'isAdult', 'releaseYear', 'releaseMonth', 'releaseDate', 'runtime_consolidated', 'imdb_averageRating', 'imdb_numVotes', 'tmdb_averageRating', 'tmdb_numVotes', 'revenue', 'budget', 'popularity']

In [22]:
actor_actress_director_df['isAdult'] = actor_actress_director_df['isAdult'].astype('int64')

actor_actress_director_df = actor_actress_director_df.merge(
    movies_df[['tconst', 'weighted_averageRating', 'total_numVotes', 'bayesian_averageRating', 'profit_ratio' ,'aaa_index']], 
    on='tconst', 
    how='inner'
)

print(actor_actress_director_df.describe())
print(actor_actress_director_df.dtypes)

actor_actress_director_df.to_csv('../data/actor_actress_director.csv', index=False)

            isAdult  releaseYear  releaseMonth                    releaseDate  \
count  2.363094e+06    2363094.0     2363094.0                        2363094
mean   1.358135e-02  1991.379887       6.33584  1991-11-28 15:47:09.414318464
min    0.000000e+00       1894.0           1.0            1894-10-08 00:00:00
25%    0.000000e+00       1972.0           3.0            1972-12-21 00:00:00
50%    0.000000e+00       2000.0           6.0            2000-04-01 00:00:00
75%    0.000000e+00       2015.0          10.0            2015-03-23 00:00:00
max    1.000000e+00       2025.0          12.0            2027-04-21 00:00:00
std    1.157450e-01    27.296457      3.669719                            NaN

       runtime_consolidated  imdb_averageRating  imdb_numVotes  \
count          2.363094e+06        2.363094e+06   2.363094e+06
mean           9.502181e+01        5.898573e+00   5.375164e+03
min            0.000000e+00        1.000000e+00   5.000000e+00
25%            8.400000e+01        5.200000e+00   3.400000e+01
50%            9.300000e+01        6.000000e+00   1.260000e+02
75%            1.050000e+02        6.800000e+00   6.180000e+02
max            5.946000e+04        1.000000e+01   2.998500e+06
std            7.546388e+01        1.249061e+00   4.492313e+04

       tmdb_averageRating  tmdb_numVotes       revenue        budget  \
count        2.363094e+06   2.363094e+06  2.363094e+06  2.363094e+06
mean         4.072492e+00   9.304768e+01  3.304818e+06  1.257900e+06
min          0.000000e+00   0.000000e+00  0.000000e+00  0.000000e+00
25%          0.000000e+00   0.000000e+00  0.000000e+00  0.000000e+00
50%          5.000000e+00   3.000000e+00  0.000000e+00  0.000000e+00
75%          6.266000e+00   1.100000e+01  0.000000e+00  0.000000e+00
max          1.000000e+01   3.449500e+04  2.923706e+09  8.880000e+08
std          2.884339e+00   7.281542e+02  3.694437e+07  1.002809e+07

         popularity  weighted_averageRating  total_numVotes  \
count  2.363094e+06            2.363094e+06    2.363094e+06
mean   3.255210e+00            5.892931e+00    5.468212e+03
min    0.000000e+00            1.000000e+00    5.000000e+00
25%    6.710000e-01            5.166182e+00    3.600000e+01
50%    1.263000e+00            6.000000e+00    1.290000e+02
75%    2.542000e+00            6.714286e+00    6.330000e+02
max    2.994357e+03            1.000000e+01    3.023149e+06
std    1.580392e+01            1.236236e+00    4.560106e+04

       bayesian_averageRating  profit_ratio     aaa_index
count            2.363094e+06  2.363094e+06  2.363094e+06
mean             6.065286e+00  3.386974e+01  4.336292e+00
min              1.599429e+00  0.000000e+00  0.000000e+00
25%              6.037722e+00  0.000000e+00  3.334095e+00
50%              6.047372e+00  0.000000e+00  4.281776e+00
75%              6.054537e+00  0.000000e+00  5.192530e+00
max              9.284417e+00  2.755584e+06  1.000000e+01
std              2.356228e-01  7.837144e+03  1.351633e+00
tconst                            object
nconst                            object
primaryName                       object
category                          object
titleType                         object
primaryTitle                      object
isAdult                            int64
releaseYear                        Int64
releaseMonth                       Int64
releaseDate               datetime64[ns]
runtime_consolidated             float64
imdb_averageRating               float64
imdb_numVotes                    float64
tmdb_averageRating               float64
tmdb_numVotes                      int64
revenue                            int64
budget                             int64
popularity                       float64
weighted_averageRating           float64
total_numVotes                   float64
bayesian_averageRating           float64
profit_ratio                     float64
aaa_index                        float64
dtype: object

In [23]:
genres_df['isAdult'] = genres_df['isAdult'].astype('int64')

genres_df = genres_df.merge(
    movies_df[['tconst', 'weighted_averageRating', 'total_numVotes', 'bayesian_averageRating', 'profit_ratio' ,'aaa_index']], 
    on='tconst', 
    how='inner'
)

print(genres_df.describe())
print(genres_df.dtypes)

genres_df.to_csv('../data/genres_data.csv', index=False)

             isAdult  releaseYear  releaseMonth  \
count  460581.000000     460581.0      460581.0
mean        0.012200  1993.967402      6.365584
min         0.000000       1894.0           1.0
25%         0.000000       1976.0           3.0
50%         0.000000       2004.0           6.0
75%         0.000000       2015.0          10.0
max         1.000000       2025.0          12.0
std         0.109777    26.642089      3.649092

                         releaseDate  runtime_consolidated  \
count                         460581         460581.000000
mean   1994-07-02 18:13:19.739459456             95.165741
min              1894-10-08 00:00:00              0.000000
25%              1976-10-01 00:00:00             83.000000
50%              2004-10-22 00:00:00             93.000000
75%              2016-01-19 00:00:00            105.000000
max              2027-04-21 00:00:00          59460.000000
std                              NaN            123.928903

       imdb_averageRating  imdb_numVotes  tmdb_averageRating  tmdb_numVotes  \
count       460581.000000   4.605810e+05       460581.000000  460581.000000
mean             6.020373   6.591983e+03            4.252180     114.713358
min              1.000000   5.000000e+00            0.000000       0.000000
25%              5.300000   3.800000e+01            0.000000       0.000000
50%              6.100000   1.480000e+02            5.200000       3.000000
75%              6.900000   8.030000e+02            6.400000      14.000000
max             10.000000   2.998500e+06           10.000000   34495.000000
std              1.274794   4.958088e+04            2.876317     818.478908

            revenue        budget     popularity  weighted_averageRating  \
count  4.605810e+05  4.605810e+05  460581.000000           460581.000000
mean   4.209952e+06  1.603170e+06       3.628444                6.014230
min    0.000000e+00  0.000000e+00       0.000000                1.000000
25%    0.000000e+00  0.000000e+00       0.662000                5.276923
50%    0.000000e+00  0.000000e+00       1.318000                6.117500
75%    0.000000e+00  0.000000e+00       2.858000                6.895802
max    2.923706e+09  8.880000e+08    2994.357000               10.000000
std    4.220253e+07  1.148217e+07      17.842845                1.262061

       total_numVotes  bayesian_averageRating  profit_ratio      aaa_index
count    4.605810e+05           460581.000000  4.605810e+05  460581.000000
mean     6.706697e+03                6.073448  3.457160e+01       4.445121
min      5.000000e+00                1.599429  0.000000e+00       0.000000
25%      3.900000e+01                6.037899  0.000000e+00       3.415778
50%      1.520000e+02                6.048071  0.000000e+00       4.387229
75%      8.210000e+02                6.058075  0.000000e+00       5.322727
max      3.023149e+06                9.284417  2.755584e+06      10.000000
std      5.034426e+04                0.257384  7.686370e+03       1.391796
tconst                            object
genres                            object
titleType                         object
primaryTitle                      object
isAdult                            int64
releaseYear                        Int64
releaseMonth                       Int64
releaseDate               datetime64[ns]
runtime_consolidated             float64
imdb_averageRating               float64
imdb_numVotes                    float64
tmdb_averageRating               float64
tmdb_numVotes                      int64
revenue                            int64
budget                             int64
popularity                       float64
weighted_averageRating           float64
total_numVotes                   float64
bayesian_averageRating           float64
profit_ratio                     float64
aaa_index                        float64
dtype: object

In [24]:
prod_comp_df['isAdult'] = prod_comp_df['isAdult'].astype('int64')

prod_comp_df = prod_comp_df.merge(
    movies_df[['tconst', 'weighted_averageRating', 'total_numVotes', 'bayesian_averageRating', 'profit_ratio' ,'aaa_index']], 
    on='tconst', 
    how='inner'
)

print(prod_comp_df.describe())
print(prod_comp_df.dtypes)

prod_comp_df.to_csv('../data/production_companies_data.csv', index=False)

             isAdult  releaseYear  releaseMonth  \
count  317514.000000     317514.0      317514.0
mean        0.008447  1997.342873      6.591706
min         0.000000       1894.0           1.0
25%         0.000000       1982.0           3.0
50%         0.000000       2007.0           7.0
75%         0.000000       2017.0          10.0
max         1.000000       2025.0          12.0
std         0.091518    25.403167      3.549716

                         releaseDate  runtime_consolidated  \
count                         317514         317514.000000
mean   1997-11-29 09:34:45.549613696             97.397416
min              1894-10-08 00:00:00              0.000000
25%              1982-11-12 00:00:00             86.000000
50%              2007-12-25 00:00:00             95.000000
75%              2017-10-12 00:00:00            107.000000
max              2025-03-06 00:00:00          59460.000000
std                              NaN            114.166182

       imdb_averageRating  imdb_numVotes  tmdb_averageRating  tmdb_numVotes  \
count       317514.000000   3.175140e+05       317514.000000  317514.000000
mean             6.070554   1.249452e+04            4.813401     220.035696
min              1.000000   5.000000e+00            0.000000       0.000000
25%              5.400000   6.400000e+01            4.000000       1.000000
50%              6.200000   3.260000e+02            5.709000       6.000000
75%              6.900000   2.225000e+03            6.600000      39.000000
max             10.000000   2.998500e+06           10.000000   34495.000000
std              1.191254   6.788331e+04            2.652568    1094.632989

            revenue        budget     popularity  weighted_averageRating  \
count  3.175140e+05  3.175140e+05  317514.000000           317514.000000
mean   7.613410e+06  3.054306e+06       5.423617                6.068499
min    0.000000e+00  0.000000e+00       0.000000                1.000000
25%    0.000000e+00  0.000000e+00       0.918000                5.393363
50%    0.000000e+00  0.000000e+00       1.814000                6.200000
75%    0.000000e+00  0.000000e+00       5.216000                6.895138
max    2.923706e+09  8.880000e+08    2994.357000               10.000000
std    5.259060e+07  1.534854e+07      23.234444                1.180271

       total_numVotes  bayesian_averageRating  profit_ratio      aaa_index
count    3.175140e+05           317514.000000  3.175140e+05  317514.000000
mean     1.271456e+04                6.097420  2.846015e+01       4.873024
min      5.000000e+00                1.653531  0.000000e+00       0.000000
25%      6.600000e+01                6.034809  0.000000e+00       3.820933
50%      3.360000e+02                6.048764  0.000000e+00       4.863106
75%      2.287000e+03                6.077974  0.000000e+00       5.768635
max      3.023149e+06                9.284417  2.755584e+06      10.000000
std      6.890294e+04                0.339363  7.693596e+03       1.483048
tconst                            object
production_companies              object
titleType                         object
primaryTitle                      object
isAdult                            int64
releaseYear                        Int64
releaseMonth                       Int64
releaseDate               datetime64[ns]
runtime_consolidated             float64
imdb_averageRating               float64
imdb_numVotes                    float64
tmdb_averageRating               float64
tmdb_numVotes                      int64
revenue                            int64
budget                             int64
popularity                       float64
weighted_averageRating           float64
total_numVotes                   float64
bayesian_averageRating           float64
profit_ratio                     float64
aaa_index                        float64
dtype: object

In [25]:
keyword_df['isAdult'] = keyword_df['isAdult'].astype('int64')

keyword_df = keyword_df.merge(
    movies_df[['tconst', 'weighted_averageRating', 'total_numVotes', 'bayesian_averageRating', 'profit_ratio' ,'aaa_index']], 
    on='tconst', 
    how='inner'
)

print(keyword_df.describe())
print(keyword_df.dtypes)

keyword_df.to_csv('../data/keyword_data.csv', index=False)

             isAdult  releaseYear  releaseMonth  \
count  462967.000000     462967.0      462967.0
mean        0.009018   1993.99471      6.647938
min         0.000000       1894.0           1.0
25%         0.000000       1977.0           4.0
50%         0.000000       2004.0           7.0
75%         0.000000       2016.0          10.0
max         1.000000       2025.0          12.0
std         0.094534    26.532028      3.517684

                         releaseDate  runtime_consolidated  \
count                         462967         462967.000000
mean   1994-07-23 17:36:40.285549312             98.876676
min              1894-10-08 00:00:00              0.000000
25%              1977-01-22 00:00:00             86.000000
50%              2004-06-28 00:00:00             95.000000
75%              2016-02-09 00:00:00            108.000000
max              2025-03-06 00:00:00           1620.000000
std                              NaN             34.634661

       imdb_averageRating  imdb_numVotes  tmdb_averageRating  tmdb_numVotes  \
count       462967.000000   4.629670e+05       462967.000000  462967.000000
mean             6.218362   3.195137e+04            5.400551     522.928667
min              1.000000   5.000000e+00            0.000000       0.000000
25%              5.500000   1.550000e+02            4.934000       3.000000
50%              6.400000   1.094000e+03            6.005000      17.000000
75%              7.100000   8.541000e+03            6.868000     150.000000
max             10.000000   2.998500e+06           10.000000   34495.000000
std              1.222091   1.227976e+05            2.337567    1888.371577

            revenue        budget     popularity  weighted_averageRating  \
count  4.629670e+05  4.629670e+05  462967.000000           462967.000000
mean   1.898538e+07  6.194158e+06       8.759344                6.217050
min    0.000000e+00  0.000000e+00       0.000000                1.000000
25%    0.000000e+00  0.000000e+00       1.320000                5.503191
50%    0.000000e+00  0.000000e+00       3.236000                6.386435
75%    0.000000e+00  1.400000e+04      10.033000                7.094256
max    2.923706e+09  4.600000e+08    2994.357000                9.900000
std    9.140978e+07  2.264043e+07      33.396308                1.213681

       total_numVotes  bayesian_averageRating  profit_ratio      aaa_index
count    4.629670e+05           462967.000000  4.629670e+05  462967.000000
mean     3.247430e+04                6.191980  3.453531e+01       5.505194
min      5.000000e+00                1.653531  0.000000e+00       0.000000
25%      1.600000e+02                6.030010  0.000000e+00       4.417704
50%      1.120000e+03                6.052836  0.000000e+00       5.458123
75%      8.716000e+03                6.226938  0.000000e+00       6.550546
max      3.023149e+06                9.284417  2.755584e+06      10.000000
std      1.245612e+05                0.486427  7.596397e+03       1.604619
tconst                            object
keywords                          object
titleType                         object
primaryTitle                      object
isAdult                            int64
releaseYear                        Int64
releaseMonth                       Int64
releaseDate               datetime64[ns]
runtime_consolidated             float64
imdb_averageRating               float64
imdb_numVotes                    float64
tmdb_averageRating               float64
tmdb_numVotes                      int64
revenue                            int64
budget                             int64
popularity                       float64
weighted_averageRating           float64
total_numVotes                   float64
bayesian_averageRating           float64
profit_ratio                     float64
aaa_index                        float64
dtype: object