In [12]:
!pip install matplotlib
!pip install seaborn
!pip install pandas
!pip install numpy
!pip install pyspark

Requirement already satisfied: matplotlib in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.26.2)
Requirement already satisfied: packaging>=20.0 in c:\users\g_man\appdata\roaming\python\python311\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.8)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\g_man\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (1.26.2)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyspark in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\g_man\appdata\local\programs\python\python311\lib\site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 

movies_path = "../data/movies_data.csv"

movies_df = pd.read_csv(
    movies_path,
    low_memory=False
)

conn = sqlite3.connect('../data/movie.db')

movies_df.to_sql('movies', conn, index=False, if_exists='replace')

result = pd.read_sql_query("select * from movies limit 5;", conn)
print(result)

conn.close()

      tconst titleType                   primaryTitle  isAdult  releaseYear  \
0  tt0000009     movie                     Miss Jerry        0         1894
1  tt0000147     movie  The Corbett-Fitzsimmons Fight        0         1897
2  tt0000574     movie    The Story of the Kelly Gang        0         1906
3  tt0000591     movie               The Prodigal Son        0         1907
4  tt0000615     movie             Robbery Under Arms        0         1907

   releaseMonth releaseDate  runtime_consolidated  imdb_averageRating  \
0            10  1894-10-08                  45.0                 5.4
1             1  1897-01-01                 100.0                 5.3
2            12  1906-12-26                  70.0                 6.0
3             6  1907-06-19                  90.0                 5.6
4            10  1907-10-01                  60.0                 4.3

   imdb_numVotes  ...  bayesian_averageRating  profit_ratio  \
0          218.0  ...                6.033430           0.0
1          548.0  ...                6.007749           0.0
2          969.0  ...                6.041644           0.0
3           30.0  ...                6.046211           0.0
4           27.0  ...                6.042341           0.0

   normalized_profit_impact  log_votes  log_popularity  \
0                       0.5   5.402677        0.558472
1                       0.5   6.343880        0.810930
2                       0.5   6.906755        1.150572
3                       0.5   3.433987        0.470004
4                       0.5   3.367296        0.470004

  normalized_bayesian_averageRating normalized_log_votes  \
0                          0.603343             0.362066
1                          0.600775             0.425141
2                          0.604164             0.462863
3                          0.604621             0.230132
4                          0.604234             0.225663

  normalized_popularity normalized_score aaa_index
0              0.000250         0.453420  4.616837
1              0.000417         0.474229  5.134630
2              0.000721         0.489156  5.470080
3              0.000200         0.407877  3.192487
4              0.000200         0.406119  3.126437

[5 rows x 32 columns]

In [14]:
print(movies_df.dtypes)

tconst                                object
titleType                             object
primaryTitle                          object
isAdult                                int64
releaseYear                            int64
releaseMonth                           int64
releaseDate                           object
runtime_consolidated                 float64
imdb_averageRating                   float64
imdb_numVotes                        float64
tmdb_averageRating                   float64
tmdb_numVotes                          int64
revenue                                int64
budget                                 int64
popularity                           float64
overview                              object
tagline                               object
genres                                object
production_companies                  object
keywords                              object
weighted_averageRating               float64
total_numVotes                       float64
bayesian_averageRating               float64
profit_ratio                         float64
normalized_profit_impact             float64
log_votes                            float64
log_popularity                       float64
normalized_bayesian_averageRating    float64
normalized_log_votes                 float64
normalized_popularity                float64
normalized_score                     float64
aaa_index                            float64
dtype: object

In [29]:
# Weighted Average Rating for IMDb Only where m = 5000
conn = sqlite3.connect('../data/movie.db')

imdb_query = """
with global_avg as (
    select
        avg(imdb_averageRating) as C
    from movies
),

qualified_movies as (
    select
        m.tconst,
        m.primaryTitle,
        m.imdb_averageRating,
        m.imdb_numVotes,
        g.C,
        5000 as m_value
    from movies m
    cross join global_avg g
    where 1=1
        and m.releaseYear = 2020
        and m.imdb_numVotes >= 5000 
),

weighted_ratings as (
    select
        primaryTitle,
        imdb_averageRating,
        imdb_numVotes,
        ((imdb_numVotes / (imdb_numVotes + m_value)) * imdb_averageRating + (m_value / (imdb_numVotes + m_value)) * C) as weighted_rating
    from qualified_movies
)

select
    primaryTitle,
    weighted_rating,
    imdb_averageRating, 
    imdb_numVotes
from weighted_ratings
order by 2 desc
limit 10
"""

imdb_result = pd.read_sql(imdb_query, conn)
print(imdb_result)

                                        primaryTitle  weighted_rating  \
0                                    Soorarai Pottru         8.599774
1                                        Dil Bechara         8.220329
2                                           Hamilton         8.213315
3                                         The Father         8.149503
4  Demon Slayer: Kimetsu no Yaiba - Mt. Natagumo Arc         8.101467
5  Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...         8.075118
6                                  Dara of Jasenovac         7.982554
7                                               Soul         7.976029
8                                 My Octopus Teacher         7.957392
9                                        Wolfwalkers         7.788587

   imdb_averageRating  imdb_numVotes
0                 8.7       126948.0
1                 8.3       135886.0
2                 8.3       124487.0
3                 8.2       207380.0
4                 8.7        17095.0
5                 8.2        80878.0
6                 8.1        82058.0
7                 8.0       400688.0
8                 8.1        66697.0
9                 8.0        40998.0

In [16]:
# Weighted Average Rating for TMDb Only
tmdb_query = """
with global_avg as (
    select
        avg(tmdb_averageRating) as C
    from movies
    where 1=1
        and tmdb_numVotes != 0
        and tmdb_averageRating != 0
),

qualified_movies as (
    select
        m.tconst,
        m.primaryTitle,
        m.tmdb_averageRating,
        cast(m.tmdb_numVotes as float) as tmdb_numVotes,
        g.C,
        5000 as m_value
    from movies m
    cross join global_avg g
    where 1=1
        and m.releaseYear = 2020
        and m.tmdb_numVotes >= 5000 
),

weighted_ratings as (
    select
        primaryTitle,
        tmdb_averageRating,
        tmdb_numVotes,
        ((tmdb_numVotes / (tmdb_numVotes + m_value)) * tmdb_averageRating + (m_value / (tmdb_numVotes + m_value)) * C) as weighted_rating
    from qualified_movies
)

select
    primaryTitle,
    weighted_rating,
    tmdb_averageRating,
    tmdb_numVotes
from weighted_ratings
order by 2 desc
limit 10
"""

tmdb_result = pd.read_sql(tmdb_query, conn)
print(tmdb_result)

                                        primaryTitle  weighted_rating  \
0                                               Soul         7.315832
1                                             Onward         6.794690
2                                 Sonic the Hedgehog         6.766055
3                              A Quiet Place Part II         6.680590
4                                              Tenet         6.661466
5                                         Extraction         6.585468
6                                  Bad Boys for Life         6.580694
7                                           365 Days         6.568703
8  Birds of Prey and the Fantabulous Emancipation...         6.568520
9                                       Enola Holmes         6.557859

   tmdb_averageRating  tmdb_numVotes
0               8.150         9473.0
1               7.726         5687.0
2               7.345         8901.0
3               7.511         5691.0
4               7.191         8744.0
5               7.356         5516.0
6               7.139         7570.0
7               7.063         8429.0
8               7.000         9654.0
9               7.300         5541.0

In [17]:
# Weighted Average Rating for blended IMDb & TMDb
blended_query = """
with global_avg as (
    select
        avg(weighted_averageRating) as C
    from movies
    where 1=1
),

qualified_movies as (
    select
        m.tconst,
        m.primaryTitle,
        m.weighted_averageRating,
        m.total_numVotes,
        g.C,
        5000 as m_value
    from movies m
    cross join global_avg g
    where 1=1
        and m.releaseYear = 2020
        and m.total_numVotes >= 5000 
),

weighted_ratings as (
    select
        primaryTitle,
        weighted_averageRating,
        total_numVotes,
        ((total_numVotes / (total_numVotes + m_value)) * weighted_averageRating + (m_value / (total_numVotes + m_value)) * C) as weighted_rating
    from qualified_movies
)

select
    primaryTitle,
    weighted_rating,
    weighted_averageRating,
    total_numVotes
from weighted_ratings
order by 2 desc 
limit 10
"""

blended_result = pd.read_sql(blended_query, conn)
print(blended_result)

                                        primaryTitle  weighted_rating  \
0                                    Soorarai Pottru         8.599150
1                                        Dil Bechara         8.219236
2                                           Hamilton         8.213042
3                                         The Father         8.149360
4  Demon Slayer: Kimetsu no Yaiba - Mt. Natagumo Arc         8.098337
5  Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...         8.081725
6                                  Dara of Jasenovac         7.981792
7                                               Soul         7.979908
8                                 My Octopus Teacher         7.956267
9                                        Wolfwalkers         7.797755

   weighted_averageRating  total_numVotes
0                8.699597        127012.0
1                8.299096        135969.0
2                8.299177        125704.0
3                8.199365        210161.0
4                8.691668         17282.0
5                8.202389         84291.0
6                8.099547         82130.0
7                8.003464        410161.0
8                8.097676         67489.0
9                8.006033         42016.0

In [18]:
# Checking for higheset aaa_index
aaa_query = """
    select 
        primaryTitle,
        aaa_index,
        weighted_averageRating,
        imdb_averageRating,
        tmdb_averageRating,
        total_numVotes,
        imdb_numVotes,
        tmdb_numVotes,
        popularity,
        profit_ratio,
        revenue,
        budget
    from movies
    order by 2 desc
    limit 10
"""

aaa_result = pd.read_sql(aaa_query, conn)
print(aaa_result)

                                        primaryTitle  aaa_index  \
0                           The Shawshank Redemption  10.000000
1                                      The Godfather   9.908631
2                                    The Dark Knight   9.890688
3      The Lord of the Rings: The Return of the King   9.815040
4                                       Pulp Fiction   9.792283
5                                          Inception   9.782123
6  The Lord of the Rings: The Fellowship of the Ring   9.776556
7                                       Forrest Gump   9.762625
8                                         Fight Club   9.762621
9                                   Schindler's List   9.748585

   weighted_averageRating  imdb_averageRating  tmdb_averageRating  \
0                9.295124                 9.3               8.702
1                9.195639                 9.2               8.707
2                8.995033                 9.0               8.512
3                8.994336                 9.0               8.474
4                8.895413                 8.9               8.488
5                8.794387                 8.8               8.364
6                8.894480                 8.9               8.402
7                8.796539                 8.8               8.477
8                8.795979                 8.8               8.438
9                8.995893                 9.0               8.573

   total_numVotes  imdb_numVotes  tmdb_numVotes  popularity  profit_ratio  \
0       3023149.0      2998500.0          24649     122.610      1.133659
1       2111479.0      2092802.0          18677     158.448     40.844402
2       3008104.0      2977485.0          30619     130.643      5.430046
3       2074083.0      2051749.0          22334      99.276     11.903074
4       2325608.0      2299715.0          25893      74.862     25.164706
5       2679648.0      2645153.0          34495      83.952      5.159580
6       2104265.0      2080942.0          23323      87.037      9.369552
7       2371376.0      2345967.0          25409      92.693     12.316140
8       2451892.0      2424654.0          27238      69.498      1.600853
9       1517244.0      1502650.0          14594      65.084     14.607526

      revenue     budget
0    28341469   25000000
1   245066411    6000000
2  1004558444  185000000
3  1118888979   94000000
4   213900000    8500000
5   825532764  160000000
6   871368364   93000000
7   677387716   55000000
8   100853753   63000000
9   321365567   22000000

In [19]:
aaa_2020_query = """
    select
        primaryTitle,
        aaa_index,
        weighted_averageRating,
        imdb_averageRating,
        tmdb_averageRating,
        total_numVotes,
        imdb_numVotes,
        tmdb_numVotes,
        popularity,
        profit_ratio,
        revenue,
        budget
    from movies
    where 1=1
        and releaseYear = 2020
    order by 2 desc
    limit 10
"""

aaa_2020_result = pd.read_sql(aaa_2020_query, conn)
print(aaa_2020_result)

                                        primaryTitle  aaa_index  \
0                                         The Father   8.981133
1                                              Tenet   8.832850
2                                    Soorarai Pottru   8.810048
3                                      Another Round   8.743324
4  Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...   8.728940
5                                        Dil Bechara   8.646885
6                                           Hamilton   8.625314
7                              A Quiet Place Part II   8.610074
8                                               Soul   8.574558
9                                          Nomadland   8.526303

   weighted_averageRating  imdb_averageRating  tmdb_averageRating  \
0                8.199365                 8.2               8.152
1                7.298486                 7.3               7.191
2                8.699597                 8.7               7.900
3                7.699445                 7.7               7.658
4                8.202389                 8.2               8.259
5                8.299096                 8.3               6.819
6                8.299177                 8.3               8.215
7                7.205825                 7.2               7.511
8                8.003464                 8.0               8.150
9                7.299126                 7.3               7.237

   total_numVotes  imdb_numVotes  tmdb_numVotes  popularity  profit_ratio  \
0        210161.0       207380.0           2781      51.482      3.504890
1        629342.0       620598.0           8744      44.025      1.781971
2        127012.0       126948.0             64       8.796      0.000000
3        210853.0       208067.0           2786      19.314      4.213592
4         84291.0        80878.0           3413      96.797     31.839474
5        135969.0       135886.0             83       7.392      0.000000
6        125704.0       124487.0           1217      15.966      0.000000
7        303868.0       298177.0           5691      46.269      4.875410
8        410161.0       400688.0           9473      48.876      0.909230
9        193018.0       190340.0           2678      18.152      2.956823

     revenue     budget
0   21029340    6000000
1  365304105  205000000
2          0          0
3   21700000    5150000
4  503063688   15800000
5          0       3025
6          0          0
7  297400000   61000000
8  136384442  150000000
9   14784114    5000000

In [31]:
conn = sqlite3.connect('../data/movie.db')
flops_query = """ 
    select
        releaseMonth,
        avg(popularity)
    from movies
    group by 1 
    order by 1
"""

flops_result = pd.read_sql(flops_query, conn)
print(flops_result)

    releaseMonth  avg(popularity)
0              1         1.747394
1              2         2.779084
2              3         2.912853
3              4         2.826271
4              5         3.064398
5              6         3.167482
6              7         3.692207
7              8         3.864428
8              9         3.555376
9             10         2.830692
10            11         2.630184
11            12         2.973902

In [21]:
conn.close()